<div class="header2">
    <a href="/" id="logo">Gomez</a>
    <a id="home" href="/">Home</a>
    <div class="dropdown">Goods<img src="/views/assets/icon-arrow-down.svg">
        <div class="dropdown_list"> 
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
        </div>
    </div>
    <div class="dropdown">Prices<img src="/views/assets/icon-arrow-down.svg">
        <div class="dropdown_list">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
        </div>
    </div>
    <a href="/about">About us</a>
    <a href="/dashboard" id="register">Create free menu</a>
    <!-- <a href="/login" id="register">Create free menu</a> -->
    <a href="/profile" id="login"> Hai, <u><%= username %></u> </a>
    
</div>