<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/assets/style.css" type="text/css">
</head>

<body>
    <%- include("partials/navbar") %>
        <div class="homePage" id="img1">
           
            <h1 style="margin-top: 50px">HOMEPAGE</h1>
            <p><i> 
            " Digital Menu Solutions in the delivery and inside the store "
            </i></p>
            <button id="btn1" class="scroll" onclick="scrollpage1()">Next</button>
        </div>
        <div id="img2">
            <button class="scroll" onclick="scrollpage2()">Next</button>
        </div>
        <div id="img3">
            <button class="scroll" onclick="scrollpage3()">Next</button>
        </div>
        <div id="img4">
            <button class="scroll" onclick="scrollpage4()">Next</button>
            <button class="scroll" id="top" onclick="topPage()" >TOP</button>
        </div>
        
</body>
<script>
function scrollpage1 () {
    let element = document.getElementById("img2");
    element.scrollIntoView();
}

function scrollpage2 () {
    let element = document.getElementById("img3");
    element.scrollIntoView();
}

function scrollpage3 () {
    let element = document.getElementById("img4");
    element.scrollIntoView();
}

function scrollpage4 () {
    let element = document.getElementById("footer");
    element.scrollIntoView();
}

function  topPage ()  {
    window.scrollTo(0, 0);
}
</script>
</html>