<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>My Profile is : </h2>
    <ul> 
        <li><pre>Name       : "<%= username %>"</pre></li>
        <li><pre>Address    : <%= address %></pre></li>
        <li><pre>Membership : <%= membership %></pre></li>
        <li><pre>Password   : <%= password %></pre></li>
    </ul>
    <a href="/dashboard">Back</a>
</body>
</html>