<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/views/assets/style.css" type="text/css">
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="loginPage"> 
    
    <h1  style="margin-top: 50px;">REGISTER DULU YA...</h1>
    <form class="register" action="/register" method="post">
        <div>
            <label for="username">Username :</label>
        </div>
        <div>
            <input name="username" type="text">
        </div>
        <div>
            <label for="email">Email :</label>
        </div>
        <div>
            <input name="email" type="email">
        </div>
        <div>
            <label for="password">Password :</label>
        </div>
        <div>
            <input name="password" type="password">
        </div>
        <div>
            <label for="address">Address :</label>
        </div>
        <div>
            <input name="address" type="text">
        </div>
            <button type="submit" >Register</button>
            <p>Have Registered ?
                <a href="/login"> Click here to Login </a>
            </p>
        </div>
    </form>
</div>
</body>
</html>